/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

.container{
    width: 1912px;
    max-width: 1912px;
    margin: auto;
}



/* sign */
.sign{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.sign__ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign__ul--li{
    font-size: 13px;
    font-weight: 400;
    color: #7E7E7E;
    gap: 4px;
}

.sign__paragrf{
    color: #3BB77E;
    font-size: 14px;
    font-weight: 700;
}

.sign__ul--li span{
    color: #3BB77E;
}

/* header */
.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.header__flex{
    display: flex;
    align-items: center;
    gap: 70px;
}

.header__flex--box{
    width: 600px;
    height: 50px;
    border-radius: 4px;
    background: none;
    border: 2px solid #3BB77E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 30px;
}

#input{
    width: auto;
    background: none;
    border: none;
    flex: 1;
    height: 35px;
    margin-left: 10px;
}

.header__flex--box--btn{
    padding: 11px 20px;
    background: #3BB77E;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
}

.header__flex2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__icon{
    padding: 15px 20px;
    background: none;
    border: 12px;
    border: 2px solid #ECECEC;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    color: #3BB77E;
}

.header__icon:hover{
    box-shadow: 0 1px 8px #7e7e7e28;
    transform: scale(1.02);
}

.header__flex2--ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__flex2--ul--li{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 400;
}


/* heder2 */
.header2{
    padding: 0 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.header2__box--btn{
    padding: 19px 22px;
    background-color: #3BB77E;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header2__box--ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header2__box--ul--li{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;
}


.header2__box2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header2__box2--text{
    font-size: 26px;
    color: #3BB77E;
    font-weight: 700;
}

.header2__box2--paragrf{
    font-size: 12px;
    font-weight: 400;
    color: #7E7E7E;
}


/* hero */
.hero{
    width: 100%;
    height: 538px;
    background-image: url("image/996711b7439c5fa7fdc10fc886c447ab267a5fc1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.hero2{
    text-align: center;
}

.hero2__text{
    width: 700px;
    font-size: 72px;
    font-weight: 700;
    color: #253D4E;
}

.hero2__paragrf{
        margin-top: 40px;
        margin-bottom: 65px;
        font-size: 30px;
        font-weight: 400;
        color: #7E7E7E;
}



.hero2__box{
    width: 450px;
    height: 64px;
    border-radius: 500px;
    background-color: #fff;
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#input2{
    outline: none;
    background: none;
    border: none;
    width: 290px;
    height: 30px;
}

.hero2__box--btn{
    padding: 22px 30px;
    background-color: #3BB77E;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 500px;
}



/* main */
.main{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.main1__header{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main1__header--text{
    font-size: 32px;
    font-weight: 700;
    color: #253D4E;
}

.main1__header--ul{
    display: flex;
    align-items: center;
    gap: 22px;
}


.main1__header--li{
    font-size: 16px;
    font-weight: 600;
    color: #253D4E;
}


.main1__header--li:first-child{
    font-size: 16px;
    font-weight: 600;
    color: #3BB77E;
}


/* main2 */
.main2__box{
    width: 302px;
    height: auto;
    border: 2px solid #e2e2e2;
    box-shadow: 0 3px 17px #e4e4e4;
    padding: 31px;
    border-radius: 15px;
}

.main2__box--text{
    font-size: 24px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 20px;
}


.sa{
    margin-bottom: 20px;
}

.main2__box--card{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #F2F3F4;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.main2__box--card--p{
    font-size: 15px;
    font-weight: 500;
    color: #253D4E;
}














/* product */

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.product__box{
    width: 516.6300048828125px;
    height: 302.7200012207031px;
    background-image: url(image/alt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 77px 50px;
}


.wq{
    background-image: url(icon/alt\ \(2\).png);
}

.wq2{
    background-image: url(icon/alt\ \(1\).png);
}

.sd{
    width: 244.4499969482422px;
    color: #253D4E;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.qw{
    width: 244.4499969482422px;
    color: #253D4E;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}

.product__box--btn{
    padding: 10px 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #3BB77E;
    display: flex;
    align-items: center;
    gap: 9px;
}