/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

.container{
    width: 1912px;
    max-width: 1912px;
    margin: auto;
}



/* sign */
.sign{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.sign__ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign__ul--li{
    font-size: 13px;
    font-weight: 400;
    color: #7E7E7E;
    gap: 4px;
}

.sign__paragrf{
    color: #3BB77E;
    font-size: 14px;
    font-weight: 700;
}

.sign__ul--li span{
    color: #3BB77E;
}

/* header */
.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.header__flex{
    display: flex;
    align-items: center;
    gap: 70px;
}

.header__flex--box{
    width: 600px;
    height: 50px;
    border-radius: 4px;
    background: none;
    border: 2px solid #3BB77E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 30px;
}

#input{
    width: auto;
    background: none;
    border: none;
    flex: 1;
    height: 35px;
    margin-left: 10px;
}

.header__flex--box--btn{
    padding: 11px 20px;
    background: #3BB77E;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
}

.header__flex2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__icon{
    padding: 15px 20px;
    background: none;
    border: 12px;
    border: 2px solid #ECECEC;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    color: #3BB77E;
}

.header__icon:hover{
    box-shadow: 0 1px 8px #7e7e7e28;
    transform: scale(1.02);
}

.header__flex2--ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__flex2--ul--li{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 400;
}


/* heder2 */
.header2{
    padding: 0 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.header2__box--btn{
    padding: 19px 22px;
    background-color: #3BB77E;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header2__box--ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header2__box--ul--li{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;
}


.header2__box2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header2__box2--text{
    font-size: 26px;
    color: #3BB77E;
    font-weight: 700;
}

.header2__box2--paragrf{
    font-size: 12px;
    font-weight: 400;
    color: #7E7E7E;
}


/* hero */
.hero{
    width: 100%;
    height: 538px;
    background-image: url("image/996711b7439c5fa7fdc10fc886c447ab267a5fc1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.hero2{
    text-align: center;
}

.hero2__text{
    width: 700px;
    font-size: 72px;
    font-weight: 700;
    color: #253D4E;
}

.hero2__paragrf{
        margin-top: 40px;
        margin-bottom: 65px;
        font-size: 30px;
        font-weight: 400;
        color: #7E7E7E;
}



.hero2__box{
    width: 450px;
    height: 64px;
    border-radius: 500px;
    background-color: #fff;
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#input2{
    outline: none;
    background: none;
    border: none;
    width: 290px;
    height: 30px;
}

.hero2__box--btn{
    padding: 22px 30px;
    background-color: #3BB77E;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 500px;
}



/* main */
.main{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-bottom: 40px;
    gap: 50px;
}


/* API */
#main__API{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
margin-top:30px;
}

.productss{
    width: 234px;
    height: 390px;
    border:1px solid #e5e5e5;
    border-radius:15px;
    padding:20px;
    background:#fff;
    position:relative;
    transition:0.3s;
}

.product:hover{
border-color:#39b54a;
}

.product-img{
width:180px;
height:180px;
object-fit:contain;
display:block;
margin:auto;
margin-bottom:15px;
display: block;
}

.discount{
position:absolute;
top:20px;
left:20px;
background:#39b54a;
color:white;
padding:3px 8px;
font-size:12px;
border-radius:6px;
}

.category{
font-size:12px;
color:#888;
margin-bottom:5px;
}

.title{
font-size:15px;
font-weight:600;
margin-bottom:6px;
}

.rating{
font-size:12px;
color:#f5a623;
margin-bottom:5px;
}

.brand{
font-size:13px;
color:#777;
margin-bottom:12px;
}

.brand span{
color:#39b54a;
}

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
}

.price{
color:#39b54a;
font-weight:700;
font-size:16px;
}

.old{
font-size:13px;
color:#aaa;
text-decoration:line-through;
margin-left:6px;
}



.API__p{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #3BB77E;
    margin-top: 12px;
}

.API__p span{
    color: #B6B6B6;
}

.add{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
background:#e9f7ef;
border:none;
padding:6px 14px;
border-radius:6px;
color:#39b54a;
cursor:pointer;
}

.flex8{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* api end */

.main1__header{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main1__header--text{
    font-size: 32px;
    font-weight: 700;
    color: #253D4E;
}

.main1__header--ul{
    display: flex;
    align-items: center;
    gap: 22px;
}


.main1__header--li{
    font-size: 16px;
    font-weight: 600;
    color: #253D4E;
}


.main1__header--li:first-child{
    font-size: 16px;
    font-weight: 600;
    color: #3BB77E;
}


/* main2 */
.main2__box{
    width: 302px;
    height: auto;
    border: 2px solid #e2e2e2;
    box-shadow: 0 3px 17px #e4e4e4;
    padding: 31px;
    border-radius: 15px;
}

.main2__box--text{
    font-size: 24px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 20px;
}


.sa{
    margin-bottom: 20px;
}

.main2__box--card{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #F2F3F4;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.main2__box--card--p{
    font-size: 15px;
    font-weight: 500;
    color: #253D4E;
}



/* carzinka */
.carzinka{
    padding: 0 150px;
    margin-bottom: 30px;
}

.carzinka__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 25px;
}

.carzinka__header--h3{
    font-size: 32px;
    font-weight: 700;
    color: #253D4E;
}

.carzinka__header--p{
    color: #3BB77E;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 7px;
    gap: 5px;
}





.carzinka__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.carzinka__box{
    padding: 40px;
    width: 182px;
    height: 235px;
    border-radius: 10px;
    background-color: #F4F6FA;
    text-align: center;
    display: block;
    justify-content: center;
}


.carzinka__box--text{
    width: 73px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
    margin-top: 20px;
    margin-bottom: 14px;
}


.carzinka__box--p{
    font-size: 16px;
    font-weight: 400;
    color: #7E7E7E;
}









/* product */

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.product__box{
    width: 516.6300048828125px;
    height: 302.7200012207031px;
    background-image: url(image/alt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 77px 50px;
}


.wq{
    background-image: url(icon/alt\ \(2\).png);
}

.wq2{
    background-image: url(icon/alt\ \(1\).png);
}

.sd{
    width: 244.4499969482422px;
    color: #253D4E;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.qw{
    width: 244.4499969482422px;
    color: #253D4E;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}

.product__box--btn{
    padding: 10px 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #3BB77E;
    display: flex;
    align-items: center;
    gap: 9px;
}









/* product2 */
.product2{
    padding: 0 150px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.product2__box--text{
    font-size: 24px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 15px;
}

.carzinka__cards{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.carzinka__card--h3{
    width: 190px;
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 10px;
}

.flex2{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
}

.flex2__paragrf{
    font-size: 18px;
    font-weight: 700;
    color: #3BB77E;
}

.flex2__span{
    font-size: 14px;
    font-weight: 700;
    color: #7E7E7E;
}



/* main3 */
.main3{
    padding: 0 150px;
    margin-bottom: 40px;
}

.main3__box{
    width: 100%;
    height: 469px;
    background-image: url(image/bd925a42b9f543ed79db19d2abeed5808dc612f9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 25px;
}


.sdfg{
    margin: 0;
}

.main3__h3{
    width: 1100px;
    font-size: 72px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 20px;
}

.main3__p{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #7E7E7E;
}


#input22{
    outline: none;
    background: none;
    border: none;
    width: 290px;
    height: 30px;
}

.images{
    position: absolute;
    margin-left: 895px;
    margin-top: 120px;
    border-radius: 0 0 25px 0 ;
}


/* cards */
.cards{
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 150px;
}

.cards__card{
    width: 302px;
    height: 100px;
    border-radius: 10px;
    background-color: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cards__card--p{
    font-size:16px ;
    font-weight: 600;
    color: #242424;
}

.cards__card--p2{
    font-size: 16px;
    font-weight: 400;
    color: #ADADAD;
    margin-top: 4px;
}


/* footer */
.footer{
    display: grid;
    padding: 0 150px;
    grid-template-columns: repeat(6,auto);
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__p{
    width: 268px;
    font-size: 17px;
    font-weight: 400;
    color: #253D4E;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__p2{
    width: 330px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #253D4E;
}


.footer__p3{
    font-size: 15px;
    font-weight: 500;
    color: #253D4E;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
}


.footer__li{
    font-size: 24px;
    font-weight: 700;
    color: #253D4E;
    margin-bottom: 6px;
}


.footer__lii{
    font-size: 15px;
    font-weight: 400;
    color: #253D4E;
    margin-top: 13px;
}


.footer__p4{
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #7E7E7E;
}

.footer__p5{
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #253D4E;
}







/* footer2 */
.footer2{
    padding: 0 150px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.footer2__p{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    color: #7E7E7E;
}

.flex4{
    display: flex;
    align-items: center;
    gap: 55px;
}

.flex3{
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer2__text{
    font-size: 26px;
    font-weight: 700;
    color: #3BB77E;
    margin-bottom: 3px;
}


.footer2__p2{
    font-size: 12px;
    font-weight: 400;
    color: #7E7E7E;
}


.footer2__p3{
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
}

.footer2__p4{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #7E7E7E;
}










/* index2.html */


/* main__API--box */
.main__API--box{
    display: flex;
    align-items: center;
    gap: 50px;
}

.main__box--text{
    width: 484px;
    font-size: 40px;
    font-weight: 700;
    color: #242424;
    margin-top: 22px;
    margin-bottom: 30px;
}

.flex4{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 33px;
    margin-top: 20px;
}

.flex7{
    display: flex;
    align-items: center;
    gap: 8px;
}

.flex4__h2{
    font-size: 58px;
    font-weight: 700;
    color: #3BB77E;
}

.flex4__span{
    font-size: 12px;
    font-weight: 600;
    color: #FDC040;
    margin-bottom: 8px;
}


.flex4__p{
    color: #B6B6B6;
    font-size: 28px;
    font-weight: 700;
}

.main__box--paragrf{
    width: 496px;
    font-size: 17px;
    font-weight: 400;
    color: #B6B6B6;
}

.flex5{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 36px ;
    margin-bottom: 34px;
}


.flex5__p{
    font-size: 14px;
    font-weight: 600;
    color: #B6B6B6;
}

.flex5__p2{
    width: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B6B6B6;
    font-size: 14px;
    font-weight: 400;
}

.flex5__p2:hover{
    width: 40px;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    background-color: #3BB77E;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex6{
    display: flex;
    align-items: center;
    gap: 9px;
}

.flex6__btn{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3BB77E;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.images2{
    width: 700px;
    height: 650px;
}



/* box */
.box{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


.flex9{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex10{
    display: flex;
    align-items: center;
    gap: 50px;
}


.flex10__li{
    font-size: 16px;
    font-weight: 400;
    color: #3BB77E;
    gap: 5px;
    margin-bottom: 20px;
}

.da{
    margin-bottom: 0;
}

.flex10__li span{
    color: #7E7E7E;
}

.flex9__iamge{
    width: 160px;
}